.button_component {
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: .5rem;
    border-style: none;
    min-width: 25rem;
    min-height: 5rem;
    margin: .5rem 0;
    color: var(--whiteColor);
}

.button_component:hover {
    cursor: pointer;
}

.green {
    background-color: var(--greenColor);
}

.blue {
    background-color: var(--blueColorB);
}

.buttonForm {
    width: 100%;
}
