.container_question {
  background-color: var(--whiteColor);
  padding: 3rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-bottom: 1rem;
}

.question {
  font-size: 1.6rem;
  color: var(--blackColor);
  font-family: var(--font);
  outline: none;
  resize: none;
  border: none;
  width: 80%;
}

.container_delete {
  grid-column: 2 / 3;
  display: flex;
  justify-content: end;
  align-items: end;
}

.button_delete {
  background-color: var(--ligthBlueColor);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.input_label {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 1.5rem;
  color: var(--blackColor);
  margin-bottom: 1rem;
}

.input_radio:checked + .input_label {
  background-color: var(--ligthBlueColor);
  color: var(--blueColor);
}

.input_label:hover {
  background-color: var(--ligthBBlueColor);
  color: var(--blueColor);
}

.container_answer {
  width: 80%;
}

.answer_text {
  color: var(--grayB);
  border-bottom: solid 1px var(--grayB);
  margin-top: 0;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

.container_single_option,
.container_multiple_option {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input_option {
  font-family: var(--font);
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-bottom: solid 1px var(--grayB);
  width: 100%;
  color: var(--blackColor);
  font-size: 1.4rem;
}

.button_add {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--ligthBlueColor);
  color: var(--blueColor);
}

.content_single_option, .content_multiple_option {
  text-align: center;
}
