.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.label_modal {
  font-size: 1.2rem;
}

.button_modal {
  padding: 0.5rem 2rem;
  border-style: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-family: var(--font);
  font-size: 1.6rem;
}

.buttons_modal {
  text-align: center;
}

.container_modal {
  background-color: var(--whiteColor);
  padding: 5rem;
  border-radius: 2rem;
  max-width: 80rem;
  position: absolute;
  top: 10vh;
}

.footer_modal {
  padding-top: 2rem;
}

.icons {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
}

.button_icon {
  background-color: transparent;
  border-style: none;
}

.svg_icon {
  color: var(--whiteColor);
}

.container_survey_pre {
  background-color: var(--whiteColor);
  padding: 5rem;
  max-width: 50rem;
  border-radius: 2rem;
  position: relative;
}

.xmark {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.xmark:hover {
  cursor: pointer;
}

.survey_pre_content {
  overflow-y: auto;
}

.container_question {
  border: solid 1px var(--gray);
  padding: 2rem;
  color: #555;
  margin-bottom: 1rem;
}

.container_question li {
  list-style: lower-alpha;
  font-size: 1.6rem;
}

.title_survey {
  text-align: center;
}

.description_survey {
  text-align: center;
}

.question {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  margin-top: 0;
}

.survey_pre_content {
  overflow-y: auto;
  max-height: 40rem;
}

.container_answer_open {
  border: solid 1px var(--lightGray);
  padding: 0 2rem;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la barra */
}

/* Estilo del riel */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del riel */
}

/* Estilo del pulgar */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del pulgar */
  border-radius: 4px;
  /* Radio de las esquinas del pulgar */
}

/* Estilo del pulgar al pasar el cursor por encima */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del pulgar al pasar el cursor por encima */
}

.survery_pre_footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.info_text_question {
  color: #888;
}
